# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp files
.tmp/
*.log

# Gemini
.gemini/

.vercel
